/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
 
}
@media only screen and (max-width : 1020px) {
	.container-footer {
		padding-left: 70px;
	}
	.sotc-blok {
		float: none !important;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
 
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
    
}
@media only screen and (max-width : 762px) {
  	.sotc-blok {
    float:none;
}
	.container-footer {
		padding-left: 70px;
	}
	.foto-blok-bot img {
  margin: 0px 5px !important;
}
}
@media only screen and (max-width : 571px) {
	.logo {
		margin-left: 25px !important;
	}
	.number {
		position: relative;
  top: -95px;
  right: 25px;
	}
	.menu {
		margin-left: 105px !important;
	}
	.header-bot {
  margin-top: 10px !important; 
  text-align: center;
  margin-left: 65px;
	}
	.testimonail {
  text-align: center;
}
	.last img {
  margin-right: 55px !important;
}
	.content-bot {
  margin-top: 30px !important;
}
	.slide h1 {
	margin-bottom: 25px !important;
	}
	.slide h2 {
	margin-top: 40px !important;
}
	.content-bot>h1 {
	margin-bottom: 30px !important;
}
	.foto-blok-bot img {
  margin: 0px 2px !important;
}
	.container-footer {
  padding-left: 10px !important;
}
	.menu-footer {
  margin-right: 11px;
	}
	.testimonail a {
		margin-left: 30px;
	}
} 
@media only screen and (max-width : 362px) {
		.logo {
		margin-left: 5px !important;
	}
	.number {
		position: relative;
  top: -92px;
  right: 10px;
	}
	.menu {
		margin-left: 15px !important;
	}
	.header-bot {
  margin-top: 10px !important; 
  text-align: center;
  margin-left: 0px !important;
	}
	.testimonail {
  text-align: center;
}
	.arrow {
		display: none!important;
	}
	.blok {
		margin-left: 65px;
		width: 75% !important;
	}
	.blok img {
		width: 80% !important;
	}
	.blok-right img {
			padding: 0px 0px !important;
	}
	.blok-mid img {
		padding: 10px 20px !important;
		width: 60% !important;
	}
	.blok-left img {
			padding: 20px 0px !important;
	}
	.blok h1 {
		margin-right: 45px;
	}
	.foto-blok-bot {
		margin: 10px auto !important;
	}
	.sotc-blok {
		float: left !important;
		margin-top: 30px;
		text-align: center;
	}
	.menu-footer {
  width: 30% !important;
}
	.copyright {
 padding-top: 40px !important;
}
}

@media only screen and (max-width : 326px) {
		.logo {
		margin-left: 5px !important;
	}
	.number {
		position: relative;
  top: -92px;
  right: 0px;
	}
	.menu {
		margin-left: 20px !important;
	}
	.menu ul li a {
		margin-right: 20px !important;
	}
	.left-blok img {
  margin-left: 5px !important;
}
.number-foot {
 margin-top: 20px !important;
	margin-left: 0px !important;
 float: right !important;
}
.mail-foot {
 margin-top: 20px !important;
 float: left !important;
}
	


	.menu-footer {
  width: 29% !important;
}

}


/*==========  Mobile First Method  ==========

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}